/*=======================================================*/
/*自訂顏色*/
/*==*/
/*BODY背景*/
body 
{	
	background: #FFFFFF;/*白色*/
}
/*==*/
/* 導覽列 背景*/
body > header.header .my_site_title_class,
body > header.header .my_site_description_class,
body > nav.navigation,
body > nav.navigation .nav > li > a
{
	background: #333333;/*灰黑色*/
}
/*==*/
/* 導覽列hover 背景*/
/*==*/
/* 導覽列字體hover 背景*/
/*==*/
/* 導覽列字體active 顏色*/
/*==*/
/* 延伸導覽列 背景*/
body > nav.navigation .nav-child 
{
	background: #333333;/*灰黑色*/
}
/*==*/
/* 延伸導覽列 透明度*/
body > nav.navigation .nav-child 
{	
	opacity: 1;/*延伸導覽列透明度*/
}
/*==*/
/* 延伸導覽列hover 背景*/
/*==*/
/* 延伸導覽列字體hover */
/*==*/
/*主題字體 顏色*/
body > header.header a,
body > header.header:visited,
body > nav.navigation .nav > li > a,
body > nav.navigation .nav-child a 
{
	color: #00A0F0;/*主題色*/
}
/*==*/
/*標題字體hover 顏色*/

/*=======================================================*/

