/*-------------------------------------------------------*/
/* 高解析度 */
@media screen and (min-width: 769px)
{
	/*=======================================================*/
	/*自訂顏色*/
	/*==*/
	/*BODY背景*/
	body 
	{	
		background: #FFFFFF;/*白色*/
	}
	/*==*/
	/* 導覽列 背景*/
	header.header,
	header.header .nav-toggle-button,
	nav.navigation,
	nav.navigation .nav-child
	{
		background: #4267b2;/*FaceBook淺藍導覽列，background: #4267b2;color: #fff;color: rgba(255,255,255,.5);*/
	}
	/*==*/
	/*主題字體 顏色*/
	header.header a,
	header.header:visited,
	nav.navigation .nav > li > a,
	nav.navigation .nav-child a
	{
		color: #fff;/*FaceBook淺藍導覽列，background: #4267b2;color: #fff;color: rgba(255,255,255,.5);*/
	}
	/*==*/
	/*透明主題字體 顏色*/
	header.header a .site-description
	{
		color: rgba(255,255,255,.5);/*FaceBook淺藍導覽列，background: #4267b2;color: #fff;color: rgba(255,255,255,.5);*/
	}
	/*=======================================================*/
}
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/* 手機與平板解析度 */
@media screen and (max-width: 768px)
{	
	/*=======================================================*/
	/*自訂顏色*/
	/*==*/
	/*BODY背景*/
	body 
	{	
		background: #FFFFFF;/*白色*/
	}
	/*==*/
	/* 導覽列 背景*/
	header.header,
	header.header .nav-toggle-button,
	nav.navigation
	{
		background: #4267b2;/*FaceBook淺藍導覽列，background: #4267b2;color: #fff;color: rgba(255,255,255,.5);*/
	}
	/*==*/
	/*主題字體 顏色*/
	header.header a,
	header.header:visited,
	nav.navigation .nav > li > a,
	nav.navigation .nav-child a,
	header.header .nav-toggle-button
	{
		color: #fff;/*FaceBook淺藍導覽列，background: #4267b2;color: #fff;color: rgba(255,255,255,.5);*/
	}
	/*==*/
	/*主題外框 顏色*/
	header.header .nav-toggle-button
	{
		border: 1px solid rgba(255,255,255,.2);/*透明主題外框*/
	}
	/*=======================================================*/
}
/*-------------------------------------------------------*/